In [13]:
#https://analyticsindiamag.com/how-to-perform-set-operations-on-pandas-dataframes-analytics-india-magazine/
import pandas as pd

ML_df = pd.DataFrame ({"Name":["Rohit","Arpit","Chiranjeev","Piyush"],
        "Student_ID":["101","102","103","104"]})
NLP_df = pd.DataFrame ({"Name":["Rohit","Aman","Ayush","Piyush"],
        "Student_ID":["101","105","106","104"]})
CV_df = pd.DataFrame ({"Name":["Rohit","Arpit","Pawan","Ayush"],
        "Student_ID":["101","102","107","106"]})

In [15]:
#Union

all_students = pd.concat([ML_df,NLP_df,CV_df], ignore_index = True)
all_students = all_students.drop_duplicates()
print(all_students)

          Name Student_ID
0        Rohit        101
1        Arpit        102
2   Chiranjeev        103
3       Piyush        104
5         Aman        105
6        Ayush        106
10       Pawan        107

In [16]:
#Intersection
Common_ML_NLP = ML_df.merge(NLP_df)
print(Common_ML_NLP)
Common_ML_CV = ML_df.merge(CV_df)
print(Common_ML_CV)

     Name Student_ID
0   Rohit        101
1  Piyush        104

In [17]:
ML_NLP = ML_df[ML_df.Student_ID.isin(NLP_df.Student_ID) == False]
print(ML_NLP)

    Name Student_ID
0  Rohit        101
1  Arpit        102

In [19]:
ML_NLP = ML_df[ML_df.Student_ID.isin(NLP_df.Student_ID) == True]
print(ML_NLP)

     Name Student_ID
0   Rohit        101
3  Piyush        104

In [20]:
ML_CV = ML_df[ML_df.Student_ID.isin(CV_df.Student_ID) == False]

print(ML_CV)

         Name Student_ID
2  Chiranjeev        103
3      Piyush        104