In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('movies.csv')
print(df)
print(df.columns)

       adult  ... vote_count
0      False  ...     5415.0
1      False  ...     2413.0
2      False  ...       92.0
3      False  ...       34.0
4      False  ...      173.0
...      ...  ...        ...
45461  False  ...        1.0
45462  False  ...        3.0
45463  False  ...        6.0
45464  False  ...        0.0
45465  False  ...        0.0

[45466 rows x 24 columns]
Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [5]:
df = df[['original_title','overview']]

In [6]:
df.head()

                original_title                                           overview
0                    Toy Story  Led by Woody, Andy's toys live happily in his ...
1                      Jumanji  When siblings Judy and Peter discover an encha...
2             Grumpier Old Men  A family wedding reignites the ancient feud be...
3            Waiting to Exhale  Cheated on, mistreated and stepped on, the wom...
4  Father of the Bride Part II  Just when George Banks has recovered from his ...

In [7]:
print(df.isnull().sum())

original_title      0
overview          954
dtype: int64

In [8]:
df.dropna(inplace=True)

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(analyzer='word', ngram_range=(1,3), min_df=0, stop_words='english')
matrix = tf.fit_transform(df['overview'])

In [ ]:
from sklearn.metrics.pairwise import linear_kernel
cosine_similarities = linear_kernel(matrix,matrix)

In [ ]:
movie_title = df['original_title']

indices = pd.Series(df.index, index=df['original_title'])

In [ ]:
def movie_recommend(original_title):
  idx = indices[original_title]
  sim_scores = list(enumerate(cosine_similarities[idx]))
  sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
  sim_scores = sim_scores[1:31]
  movie_indices = [i[0] for i in sim_scores]
  return movie_title.iloc[movie_indices]

movie_recommend('The Godfather').head(10)

In [ ]:
movie_recommend('Jumanji).head(10)

In [ ]:
movie_recommend('Waiting to Exhale').head(10)